.sub-item-add-container {
  display: flex;
}

/* 카테고리 추가 영역 */
.sub-item-add-container 
.sub-category-container {
  width: 50%;
} 
.sub-item-add-container 
.sub-category-container ul {
  width: 80%; 
  height: 150px;
  border: 1px solid #d8d8d8;
  list-style: none; 
  margin: 10px 0 10px 0;  
}

.sub-item-add-container 
.sub-category-container li {
  width: 100%; 
}
.sub-item-add-container 
.sub-category-container li:hover {
  background-color: #ebebeb; 
}

/* 중간 상품 등록 영역 */
.sub-product-container {
  width: 50%; 
  padding-right: 20%;
  box-sizing: border-box;
}
.sub-product-container select {
  width: 100%;  
  margin: 0 0 10px 0;
}
.sub-product-container 
.input-sub-product-name {
  width: 100%;   
  margin: 10px 0;
}
.sub-product-container 
.input-sub-product-name input {
  width: 80%;   
}

.sub-product-container
.button-add-sub-product {
  width: 100%;
  background-color: #656565;
  color: #f3f3f3; 
  border: none;
  height: 40px; 
}
.sub-product-container
.button-add-sub-product:hover {
  opacity: 0.3;
}

.category-name-container, 
.category-edit-container {
  display: flex;
  width: 80%; 
}
.category-name-container input {
  flex: 2; 
}
.category-name-container button {
  flex: 0.5;
  margin-left: 10px;  
}
.category-edit-container input {
  flex: 2; 
}
.category-edit-container button {
  flex: 0.5; 
  margin-left: 5px; 
}